#voteTempModelLastChangeTime {
  display:none;
}
.outerContainer {
  padding:0 0 0 0;
  margin:0 0 0 0;
  height:430px;
  width:572px;
/*  background-color:blue; */
  background-image:url('/static/img/cityCouncil2CroppedAndScaled.png');
}
#legendCont {
  position:relative;
  bottom:27px;
  height:30px;
  width:100%;
  text-align:center;
//  display:inline-block;
  margin:0px auto;
}
.yesLegendCont {
  height:0;
  width:0;
  margin:0 auto;
}
.noLegendCont {
  height:0;
  width:0;
  margin:0 auto;
  position:relative;
  left:25px;
}
#yesLegendTextCont {
  position:relative;
  right:109px;
  top:1px;
}
#yesLegendTextCont.yesDoubleDigit {
  position:relative;
  right:128px;
}
#noLegendTextCont {
  position:relative;
  right:120px;
  top:1px;
}
#noLegendTextCont.noDoubleDigit {
  position:relative;
  right:139px;
}
.yesTotalNumber {
  font-size:115%;
  font-size:35px;
  position:relative;
  top:3px;
  right:2px;
}
.noTotalNumber {
  font-size:115%;
  font-size:35px;
  position:relative;
  top:3px;
  right:3px;
}  
.namecolumn {
  margin:0 14px 0 28px;
  height:400px;
  width:244px;
  overflow:hidden;
  float:left;
}
.legendColumn {
//  margin:0 14px 0 28px;
  height:30px;
  width:244px;
  margin:auto;
  float:left;
//  overflow:hidden;
}
.rightcolumn {
  margin: 0 28px 0 14px;
}
.name {
  overflow:hidden;
  font-size:30px;
  margin-top:22px;
  white-space:nowrap;
  position:relative;
  z-index:3;
  letter-spacing:0px;
  font-family:sans-serif;
  font-weight:bold;
}
.nameOutline {
  overflow:visible;
  position:relative;
  color:#99e699;
  color:black;
  color:black;
  width:0;
  height:0;
  z-index:2;
}
.roundedCorners {
  border: 1px solid #999;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  behavior: url('/static/css/PIE.htc');
}


.no1 {
  position:absolute;
  left:1px;
  bottom:21px;
}
.no2 {
  position:absolute;
  left:2px;
  bottom:21px;
}

.no3 {
  position:absolute;
  left:1px;
  bottom:20px;
}
.no4 {
  position:absolute;
  left:-1px;
  bottom:21px;
}
.no5 {
  position:absolute;
  left:-1px;
  bottom:23px;
}
.no6 {
  position:absolute;
  left:1px;
  bottom:23px;
}
.no7 {
  position:absolute;
  bottom:23px;
}
.no8 {
  position:absolute;
  bottom:23px;
}
.Y1 {
  left:87px;
  z-index:2;
}
.Y2 {
  left:89px;
  z-index:2;
}
.Y3 {
  left:88px;
  z-index:2;
}
.Y4 {
  left:86px;
  z-index:2;
}
.Y5 {
  left:87px;
  z-index:2;
}
.Y6 {
  left:88px;
  z-index:2;
}
.Y7 {
  left:89px;
  bottom:22px;
  z-index:2;
}
.Y8 {
  left:86px;
  bottom:22px;
  z-index:2;
}

.N1 {
  left:95px;
  z-index:2;
}
.N2 {
  left:97px;
  z-index:2;
}
.N3 {
  left:96px;
  z-index:2;
}
.N4 {
  left:94px;
  z-index:2;
}
.N5 {
  left:95px;
  z-index:2;
}
.N6 {
  left:97px;
  z-index:2;
}
.N7 {
  left:94px;
  bottom:23px;
}
.N8 {
  left:96px;
  bottom:20px;
}
.yesVote {
  color:#00e800;
}
.noVote {
  z-index:3;
  color:#ff2020;
}
.lackingVote {
  color:#8a8a8a;
  color:#989898;
}
.legendHalf {
  width:50%;
  float:left;
}

.yesLegend {
  color:#00e800;
  text-align:center;
  display:inline-block;
  background-color:#00e800;
  width:100%;
}
.yesLegendBackground {
  border:1px solid black;
  background-color:#00e800;
  position:relative;
  z-index:1;
  left:5px;
}
.noLegendBackground {
  border:1px solid black;
  background-color:#ff2020;
  position:relative;
  z-index:1;
  left:1px;
}
/*
.legendYesInnerText {
  color:#00e800;
  position:absolute;
  z-index:3;
  left:87px;
  bottom:22px;
}
*/
.legendYesInnerText {
  color:#00e800;
  position:absolute;
  z-index:3;
  left:87px;
  bottom:22px;
}
/*
.legendNoInnerText {
  color:#ff2020;
  position:absolute;
  z-index:3;
  left:95px;
  bottom:22px;
}
*/
.legendNoInnerText {
  color:#ff2020;
  position:absolute;
  z-index:3;
  left:95px;
  bottom:22px;
}
