.namecolumn {
  height:430px;
  width:286px;
  background-color:blue;
  float:left;
  padding:10px;
  text-align:center;
}
.rightcolumn {
  padding-left:0;
}
.name {
//  width:100%;
  display:inline-block;
  padding:0 10px;
  font-size:35px;
  margin:auto;
  margin-top:25px;
  white-space:nowrap;
  overflow:hidden;
  text-align:justify;
  text-justify:inter-word;
  text-align:center;
}
.yesVote {
  border-radius:10px;
  background-color:darkgreen;
//  color:white;
}
.noVote {
  border-radius:10px;
  background-color:darkred;
//  color:white;
}
