{% comment %}
###########################################################################

Main Purpose
------------

there's three things this template is used for:

1) Normal Rendering
  Called from the clerk interface's ajax, this renders a motion to raw
  element-innard-replaceable html.

2) 'Vote Info Only' Rendering
  With 'render_votes_only' set to '1', the template should only render
  the element-innard-replaceable html for the votes themselves.  It
  shouldn't include the motion title, description, or control buttons

3) Copy-popup window
  This includes the full motion rendering as well as the javascript
  necessary to:
    a) select the proper element (votes only or whole motion -- depending
       on the 'copy_just_results' variable)
    b) change the title of the window (so the AutoIT script that's watching
       for the appropriately named window knows that the stuff's ready
       to be copied)

"copy_window" will be set to '1' when called as the copy-popup window.  It
_should_ be mutally exclusive to "render_votes_only", as they're called for
two separate purposes.

###########################################################################
{% endcomment %}

{% if copy_window == "1" %}
<html>
<head>
<title>To Be Copied</title>
<script src="/static/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
function selectText(element) {
    var doc = document
        , text = doc.getElementById(element)
        , range, selection
        ;    
    if (doc.body.createTextRange) { //ms
        range = doc.body.createTextRange();
        range.moveToElementText(text);
        range.select();
    } else if (window.getSelection) { //all others
        selection = window.getSelection();        
        range = doc.createRange();
        range.selectNodeContents(text);
        selection.removeAllRanges();
        selection.addRange(range);
        }
    }

function setTitle(title) {
    // doing it twice 'cause.. it...  doesn't update at first?
    document.title = title;
    }
// things to run when the document's ready...
$(document).ready( function() {
    {% if copy_just_results == 1 %}
        selectText('copy_div-{{ motion_id }}');
    {% else %}
        selectText('motion_container-{{ motion_id }}');
    {% endif %}

    setTitle("copy-me-to-clerk-soft");
    });
</script>
</head>
<body>
<div id="motion_container-{{ motion_id }}">
{% endif %}

{% if render_votes_only != "1" %}
{# we're here if we need the whole motion, not just the votes #}
    <table>
    <tr>
    {% if copy_button_position == "left" %}
      <!-- copy button on the left -->
      <td valign="top">
        <img src="{{ STATIC_URL }}img/blank_1x1.png"
            alt="Copy to clipboard"
            valign="center"
            onclick="copyToClipboard('{{ motion_id }}')"
            name="copybutton-{{ motion_id }}"
            onMouseDown="copybutton_clicked('copybutton-{{ motion_id }}')"
            onMouseUp="copybutton_released('copybutton-{{ motion_id }}')"
            >
      </td>
    {% endif %}
      <td>
        <table><tr>
        <td><h2>{{ motion_description|title }}</h2></td>
        {% if copy_button_position != "left" %}
        <td>
            <!-- copy button on the right -->
            &nbsp;
            <img src="{{ STATIC_URL }}img/blank_1x1.png"
                alt="Copy to clipboard"
                onclick="copyToClipboard('{{ motion_id }}')"
                name="copybutton-{{ motion_id }}"
                onMouseDown="copybutton_clicked('copybutton-{{ motion_id }}')"
                onMouseUp="copybutton_released('copybutton-{{ motion_id }}')"
                >
        </td>
        {% endif %}
        </tr></table>
        {% if motion_comment and motion_comment.strip %}
            {# 'table'ing to make it 'copy' the same as the header #}
            <table><tr><td>
            <h3>{{ motion_comment }}</h3>
            </td></tr></table>
        {% endif %}
        <div id="copy_div-{{ motion_id }}">
{% endif %}{# end of !render_votes_only #}

<h4>For:</h4>
{% for voter in voters_for %}
    {% if not forloop.last %}
        {{ voter }},
    {% else %}
        {{ voter }}
    {% endif %}
{% endfor %}
<h4>Against:</h4>
{% for voter in voters_against %}
    {% if not forloop.last %}
        {{ voter }},
    {% else %}
        {{ voter }}
    {% endif %}
{% endfor %}
{% if ungroup_other_votes == "1" %}
    <h4>Other:</h4>
    {% for voter in voters_other %}
        {% if not forloop.last %}
            {{ voter }},
        {% else %}
            {{ voter }}
        {% endif %}
    {% endfor %}
{% endif %}


{% if render_votes_only != "1" %}
{# we're here if we need the whole motion, not just the votes #}
        </div>
        <br /><br />
      </td>
    </tr>
    </table>
{% endif %}

{% if copy_window == "1" %}
</div>
</body>
</html>
{% endif %}