    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
	  <a class="brand" href="#">{{project_name}}</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
	      {% comment %}
	        Need to set the "active" class on the appropriate item
	      {% endcomment %} 
              <li class="active"><a href="/">Home</a></li>
	      <!-- Only display for users that have administrative access -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrative <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/groups">Manage Groups</a></li>
                  <li><a href="/users">Manage Users</a></li>
                  <li class="divider"></li>
                  <li><a href="#lol-nope">Manage Locations</a></li>
                  <li><a href="#lol-nope">Data Maintenance</a></li>
                </ul>
              </li>
	      <!-- Only display for users that have voting access -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Voting <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/motions">Manage Motions</a></li>
                  <li><a href="#lol-nope">Perform Vote</a></li>
                </ul>
              </li>
	      <!-- Only display for users that have reporting access -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#lol-nope">Review Votes</a></li>
                  <li><a href="#lol-nope">Other Stuff</a></li>
                  <li class="divider"></li>
                  <li><a href="#lol-nope">Poop</a></li>
                </ul>
              </li>
              <li><a href="#help">Help</a></li>
              <li><a href="#about">About</a></li>
            </ul>
	    {% comment %}
            <form class="navbar-form pull-right" action="/login" method="POST">{% csrf_token %}
              <input class="span2" type="text" name="user_name" placeholder="Username">
              <input class="span2" type="password" name="password" placeholder="Password">
              <input type="submit" name="action_submit" class="btn" value="Sign in">
            </form>
	    {% endcomment %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
