<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>overlay</title>
  <link rel="stylesheet" href="/static/css/overlay.css">
</head>
<body>
<!-- <span id="voteTempModelLastChangeTime">{% autoescape off %}{{ voteTempModelLastChangeTime }}{% endautoescape %}</span> -->
<script type="text/javascript" src="/static/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/js/refreshoverlay.js"></script>

<!-- <script type="text/javascript">
//    alert(location.href);
//    alert(location.search());
</script> -->
<!--
{% for key,value in 1.items %}
{{ key }}:{{ value }}
{% endfor %}
-->
<div class="outerContainer">
<div class="namecolumn">
<div class="name {{ 1.vote_class }}" style="{{ 1.visibility_attr }}">{{ 1.user_first_name }} {{ 1.user_last_name }}</div>
{% for i in '123456'|make_list %}
<div class="name nameOutline" style="{{ 1.visibility_attr }}"><div class="no{{ i }}">{{ 1.user_first_name }} {{ 1.user_last_name }}</div></div>
{% endfor %}

<div class="name {{ 2.vote_class }}" style="{{ 2.visibility_attr }}">{{ 2.user_first_name }} {{ 2.user_last_name }}</div>
{% for i in '123456'|make_list %}
<div class="name nameOutline" style="{{ 2.visibility_attr }}"><div class="no{{ i }}">{{ 2.user_first_name }} {{ 2.user_last_name }}</div></div>
{% endfor %}

<div class="name {{ 3.vote_class }}" style="{{ 3.visibility_attr }}">{{ 3.user_first_name }} {{ 3.user_last_name }}</div>
{% for i in '123456'|make_list %}
<div class="name nameOutline" style="{{ 3.visibility_attr }}"><div class="no{{ i }}">{{ 3.user_first_name }} {{ 3.user_last_name }}</div></div>
{% endfor %}

<div class="name {{ 4.vote_class }}" style="{{ 4.visibility_attr }}">{{ 4.user_first_name }} {{ 4.user_last_name }}</div>
{% for i in '123456'|make_list %}
<div class="name nameOutline" style="{{ 4.visibility_attr }}"><div class="no{{ i }}">{{ 4.user_first_name }} {{ 4.user_last_name }}</div></div>
{% endfor %}

<div class="name {{ 5.vote_class }}" style="{{ 5.visibility_attr }}">{{ 5.user_first_name }} {{ 5.user_last_name }}</div>
{% for i in '123456'|make_list %}
<div class="name nameOutline" style="{{ 5.visibility_attr }}"><div class="no{{ i }}">{{ 5.user_first_name }} {{ 5.user_last_name }}</div></div>
{% endfor %}

<div class="name {{ 6.vote_class }}" style="{{ 6.visibility_attr }}">{{ 6.user_first_name }} {{ 6.user_last_name }}</div>
{% for i in '123456'|make_list %}
<div class="name nameOutline" style="{{ 6.visibility_attr }}"><div class="no{{ i }}">{{ 6.user_first_name }} {{ 6.user_last_name }}</div></div>
{% endfor %}

</div>

<div class="namecolumn rightcolumn">

<div class="name {{ 7.vote_class }}" style="{{ 7.visibility_attr }}">{{ 7.user_first_name }} {{ 7.user_last_name }}</div>
{% for i in '123456'|make_list %}
<div class="name nameOutline" style="{{ 7.visibility_attr }}"><div class="no{{ i }}">{{ 7.user_first_name }} {{ 7.user_last_name }}</div></div>
{% endfor %}

<div class="name {{ 8.vote_class }}" style="{{ 8.visibility_attr }}">{{ 8.user_first_name }} {{ 8.user_last_name }}</div>
{% for i in '123456'|make_list %}
<div class="name nameOutline" style="{{ 8.visibility_attr }}"><div class="no{{ i }}">{{ 8.user_first_name }} {{ 8.user_last_name }}</div></div>
{% endfor %}

<div class="name {{ 9.vote_class }}" style="{{ 9.visibility_attr }}">{{ 9.user_first_name }} {{ 9.user_last_name }}</div>
{% for i in '123456'|make_list %}
<div class="name nameOutline" style="{{ 9.visibility_attr }}"><div class="no{{ i }}">{{ 9.user_first_name }} {{ 9.user_last_name }}</div></div>
{% endfor %}

<div class="name {{ 10.vote_class }}" style="{{ 10.visibility_attr }}">{{ 10.user_first_name }} {{ 10.user_last_name }}</div>
{% for i in '123456'|make_list %}
<div class="name nameOutline" style="{{ 10.visibility_attr }}"><div class="no{{ i }}">{{ 10.user_first_name }} {{ 10.user_last_name }}</div></div>
{% endfor %}

<div class="name {{ 11.vote_class }}" style="{{ 11.visibility_attr }}">{{ 11.user_first_name }} {{ 11.user_last_name }}</div>
{% for i in '123456'|make_list %}
<div class="name nameOutline" style="{{ 11.visibility_attr }}"><div class="no{{ i }}">{{ 11.user_first_name }} {{ 11.user_last_name }}</div></div>
{% endfor %}

<div class="name {{ 12.vote_class }}" style="{{ 12.visibility_attr }}">{{ 12.user_first_name }} {{ 12.user_last_name }}</div>
{% for i in '123456'|make_list %}
<div class="name nameOutline" style="{{ 12.visibility_attr }}"><div class="no{{ i }}">{{ 12.user_first_name }} {{ 12.user_last_name }}</div></div>
{% endfor %}

</div>

<div id="legendCont" style="{{ legend_visibility }}">
<div class="legendColumn">
<div class="yesLegendCont">
<span class="name yesVote yesLegendBackground roundedCorners">&nbsp;Yes&nbsp;</span>
<div id="yesLegendTextCont" class="{{ yesLegendTextContAddClass }}">
{% for i in '12345678'|make_list %}
<div class="name nameOutline"><div class="no{{ i }} Y{{ i }}"><span class="yesTotalNumber">{{ yes_count }}</span>&nbsp;&nbsp;Yes</div></div>
{% endfor %}

<div class="name nameOutline"><div class="legendYesInnerText"><span class="yesTotalNumber">{{ yes_count }}</span>&nbsp;&nbsp;Yes&nbsp;</div></div>
</div>
</div>
</div>

<div class="legendColumn">
<div class="noLegendCont">
<span class="name noVote noLegendBackground roundedCorners">&nbsp;No&nbsp;</span>
<div id="noLegendTextCont" class="{{ noLegendTextContAddClass }}">
{% for i in '12345678'|make_list %}
<div class="name nameOutline"><div class="no{{ i }} N{{ i }}"><span class="noTotalNumber">{{ no_count }}</span>&nbsp;&nbsp;No</div></div>
{% endfor %}

<div class="name nameOutline"><div class="legendNoInnerText"><span class="noTotalNumber">{{ no_count }}</span>&nbsp;&nbsp;No&nbsp;</div></div>
</div>
</div>
</div>

</div>


</div>
</body>
</html>
