{% extends "main/VoteClient_base.html" %}

{% block navigation %}
<!-- Removed navigation for voter interface -->
{% endblock %}

{% block base_css %}
<!-- Removed css for voter interface -->
{% endblock %}

{% block additional_head %}
<style type="text/css">
body { background-color: black; }
.vote_image { 
    position: absolute;
    top: 1%;
    left:1%;
    width: 98%;
    height: 98%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    /* border for debug */
    /* border: 1px solid blue; */
    }
#box_yea { 
    position: relative; 
    width: 50%;
    height: 100%;
    float: left;
    background-color: transparent; 
    }
#box_nay { 
    position: relative; 
    width: 50%;
    height: 100%;
    float: right;
    background-color: transparent; 
    }
</style>

<script src="{{ STATIC_URL }}js/jquery-1.8.1.min.js"></script>

<script LANGUAGE="JavaScript" type="text/javascript">
function addClickHandlers() {
    $("#box_yea").click( function() { click_handler("pro") });
    $("#box_nay").click( function() { click_handler("con") });
    }

var image_inactive = "url({{ STATIC_URL }}img/voter_inactive.png)";
var image_active = "url({{ STATIC_URL }}img/voter_active.png)";
var image_yea = "url({{ STATIC_URL }}img/voter_yea.png)";
var image_nay = "url({{ STATIC_URL }}img/voter_nay.png)";
var user_id = "{{ user_id }}";
var motion_id = "{{ motion_id }}";
var current_state = "inactive";
var jqaj_longpoll = $.ajax();
var jqaj_localchange = $.ajax();

function click_handler(sent) {
    update_debug("entering click_handler with sent=" + sent
            + ", current_state=" + current_state
            + ", motion_id=" + motion_id
            + ", user_id=" + user_id);
    var local_sent = sent;
    var old_state = current_state;
    if (current_state == sent) {
        // if they click the same thing as what is currently set, let's go back
        // to the "active" state
        local_sent = "active";
        }
    jqaj_localchange = $.ajax({
            url: '/voteclient/ajax',
            dataType : 'json',
            cache: false,
            data:   {
                    motion_id: motion_id,
                    user_id: user_id,
                    'new_state' : local_sent
                    }
            })
        .done( function(data) {
            update_debug('Ajax load was performed. ' + data.message);
            current_state = data.new_state;
            })
        .fail( function() {
            update_debug("ajax call failed");
            // set things back the way they were
            set_state(old_state);
            });

    // This'll run before the ajax call finishes
    update_debug("getting ready to call set_state with new state - " + local_sent);
    set_state(local_sent);
	{% comment %}
	// proof of concept for how to re-use the data that we got from our
	// earlier ajax call.  It does _NOT_ re-call the ajax routine.
	jqaj_localchange.always( function(data) { update_debug('update - ' + data.message); });
	{% endcomment %}
  }

function set_state(sent) {
    update_debug("entering set_state with sent=" + sent);
    var image_div = document.getElementById("vote_image_id");
    var new_image;
    switch(sent) {
      case "pro":
        new_image = image_yea;
        break;
      case "con":
        new_image = image_nay;
        break;
      case "active":
        new_image = image_active;
        break;
      default:
        new_image = image_inactive;
      }
    current_state = sent;
    image_div.style.backgroundImage = new_image;
    update_debug("leaving set_state - current_state="+current_state);
	}

function long_poller() {
    update_debug("entering long_poller");
    jqaj_longpoll = $.ajax({
                {% comment %}
                // to do -- make the 'url' a templated variable
                // ie "{% url 'main:VoteClientAjax' %}" (namespaced)
                // or "{% url 'VoteClientAjax' %}" (named url pattern)
                // As it is, I'm getting a NoReverseMatch error....
                url: '{% url 'main.views.VoteClientAjax' %}',
                {% endcomment %}
                url: '/voteclient/longpoll',
                dataType : 'json',
                cache: false
                })
        .done( function(data) {
            update_debug('Load was performed from long_poller. ' + data.message);
            if ( current_state != data.new_state ) {
                update_debug("setting new state from long_poller");
                set_state(data.new_state);
                }
            })
        // .fail apparently also gets called when you navigate away from the
        // page...
        .fail( function() {
            update_debug("ajax longpoll failed");
            {% comment %}
            // to do
            // add some form of counter here that's checked in the recursive
            // call so it doesn't just keep looping the call in the event of
            // the server being down
            {% endcomment %}
            })
        .always( function() { setTimeout(long_poller(), 40); });
    }


// things to run when the document's ready...
$(document).ready( function() {
    update_debug("entering document.ready");
	// add our 'click handlers' to the div's
    addClickHandlers();
	
	// if we're in the 'managed_mode', let's start in 'inactive'
    if ( {{ managed_mode }} == 1 ) {
        set_state("inactive");
        }
	// else we're in unmanged mode - let's start in the 'active' state
    else {
        set_state("active");
        }

    update_debug("getting ready to call long_poller");
    long_poller();
    });
</script>
{% endblock %}


{% block content %}
<div class="vote_image" id="vote_image_id">
    <div id="box_yea">
      <span />
    </div>
    <div id="box_nay">
      <span />
    </div>
</div>

{% if debug %}
    <br />
    <div id=debug_text style="color:white;" />
{% endif %}


<div style="visibility:hidden;">
    <script LANGUAGE="JavaScript" type="text/javascript">

        function update_debug(debug_text) {
            {% if debug == "1" %}
                var debug_element = document.getElementById("debug_text");
                var currentTime = new Date();
                var hours = currentTime.getHours();
                var minutes = currentTime.getMinutes();
                var seconds = currentTime.getSeconds();
                if (minutes < 10){
                    minutes = "0" + minutes
                    }
                if (seconds < 10){
                    seconds = "0" + seconds
                    }
                var time = hours + ":" + minutes + ":" + seconds;
                debug_element.innerHTML += "<br />" + time + " - " + debug_text;
            {% endif %}
            }

        // lastly, let's preload images
        var preload_image_array = new Array();
        function preload() {
            for (i = 0; i < preload.arguments.length; i++) {
                preload_image_array[i] = new Image()
                preload_image_array[i].src = preload.arguments[i]
                }
            }
        preload(
            "{{ STATIC_URL }}img/voter_inactive.png",
            "{{ STATIC_URL }}img/voter_active.png",
            "{{ STATIC_URL }}img/voter_yea.png",
            "{{ STATIC_URL }}img/voter_nay.png"
            )

	</script>
</div>

{% endblock %}

{% block footer %}
<!-- Removed navigation for voter interface -->
{% endblock %}


{% comment %} vim: set sts=2 sw=2 expandtab: {% endcomment %}
